{%load static%}
<!DOCTYPE html>
<html lang="en" class="">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Custom URL Shortener</title>
	<link rel="stylesheet" href="{% static 'bootstrap.css' %}" type="text/css" media="screen">
	<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" media="screen">
</head>

<body class="pace-done lout_stats30">
	<main id="content" role="main" class="wyniki wyniki_all">
		<div class="container">
			<div class="row">
				<div class="col-12 page_log_in mt-0">
					<h2 class="h1" style="text-align: center;">All Links Analytics</h2>
				</div>

				<!-- ye page thik he problem dusre page me he -->

				{% for obj in row %}
				<div class="url_options url_stats_o" id="1">
					<p class="data_link">{{ obj.date}}</p>
					<p class="url_link">
						{{obj.longurl}}
					</p>
					<p id="link" class="link_element">
						<!-- <a href="/analytics/<id=obj.id>" class="short_url_l" target="blank">
							{{obj.shorturl}} </a> -->
						<a href="{% url 'analytic' obj.id %}" class="short_url_l" target="blank">

							{{obj.shorturl}}
						</a>

					</p>
					<div class="stats_total btn-cutt click_stats btn_norm">
						<div>Total clicks <strong class="allClicks">{{obj.clicks}}</strong></div>
					</div>
				</div>
				{% endfor %}
			</div>
			<footer class="footer-area footer--light">
				<div class="mini-footer">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="copyright-text">
									<p><a href="https://www.linkedin.com/in/chahat-rajput-681509242/">&copy;Let's Connect ChahatRajput </a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</main>
</body>

</html>