{%load static%}
<!DOCTYPE html>
<html lang="en" class="">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Custom URL Shortener</title>
    <link rel="stylesheet" href="{%static 'bootstrap.css' %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{%static 'style.css' %}" type="text/css" media="screen">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
</head>

<body class="pace-done lout_stats30">
    <main id="content" role="main" class="wyniki wyniki_all">
        <div class="container">
            <div class="row">
                <div class="col-12 page_log_in mt-0">
                    <h2 class="h1" style="text-align: center;">Link Analytics</h2>
                </div>

                <div class="url_options url_stats_o" id="{{item_row.id}}">
                    <p class="data_link">{{item_row.date}}</p>
                    <p class="url_link"> {{item_row.longurl}}</p>
                    <p id="link" class="link_element">
                        <span class="short_url_l" target="_blank">
                            {{item_row.shorturl}}</span>
                    </p>
                    <div class="stats_total btn-cutt click_stats btn_norm">
                        <div>Total clicks <strong class="allClicks">{{item_row.clicks}}</strong>
                            <p>Mobile Clicks : {{item_row.mclicks}}</p>
                            <p>desktop Clicks : {{item_row.dclicks}}</p>

                        </div>
                    </div>
                </div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-6">
                    <h2 style="text-align: center; font-size: 25px; font-weight: 500;">Country Clicks</h2>
                    <canvas id="barChart"></canvas>
                </div>
                <div class="col-6">
                    <h2 style="text-align: center; font-size: 25px; font-weight: 500;">Device clicks</h2>
                    <canvas id="donutChart"></canvas>
                </div>
            </div>
        </div>
        <footer class="footer-area footer--light">
            <div class="mini-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright-text">
                                <p><a href="https://www.linkedin.com/in/chahat-rajput-681509242/">&copy;Let's Connect ChahatRajput </a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </main>
    {{ countries|json_script:"countries" }}
    {{ country_counts|json_script:"country_counts" }}
</body>
<script>


    const ctx = document.getElementById('barChart').getContext('2d');
    var countries = JSON.parse(document.getElementById('countries').textContent);
    <!-- const number_of_clicks = "{{country_counts}}"; -->
    var number_of_clicks = JSON.parse(document.getElementById('country_counts').textContent);
    const barChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: countries,
            datasets: [{
                label: 'Clicks',
                data: number_of_clicks,
                backgroundColor: [
                    '#FF6384',
                ],
            }]
        }
    });
    const desktop_count = "{{item_row.dclicks}}";
    const mobile_count = "{{item_row.mclicks}}";
    const ctx2 = document.getElementById('donutChart').getContext('2d');
    const donutChart = new Chart(ctx2, {
        type: 'doughnut',
        data: {
            labels: [
                'Desktop',
                'Mobile'
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [desktop_count, mobile_count],
                backgroundColor: [
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]
        }
    });
</script>

</html>